.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    /*width: 250px;*/
    width: calc(33.333% - 20px);
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1rem;
    color: #555;
}
.product-name {
    color: blue;
}

div.product-card p.product-rating {
    color: gold !important;
}
